In [57]:
import pandas as pd
import numpy as np

In [10]:
Movies = pd.read_csv("Resources/IMDb movies.csv")
Names = pd.read_csv("Resources/IMDb names.csv")
Ratings = pd.read_csv("Resources/IMDb ratings.csv")
Title_Principals = pd.read_csv("Resources/IMDb title_principals.csv")

In [11]:
Title_Principals['category'].value_counts()

actor                  100495
actress                 60074
writer                  55867
producer                45719
director                40106
composer                30350
cinematographer         25026
editor                  15290
production_designer      4300
self                      433
archive_footage           185
archive_sound               3
Name: category, dtype: int64

In [54]:
Actors =  list(Title_Principals['category'].unique())
dict={"Profession":Actors,
     "Profession_id":["P001","P002","P003","P004","P005","P006","P007","P008","P009","P010","P011","P012"]}
Profession_df = pd.DataFrame(dict)
Profession_df.to_csv("Main Data/Profession.csv",index=False)
Profession_df

             Profession Profession_id
0               actress          P001
1                 actor          P002
2              director          P003
3              producer          P004
4              composer          P005
5       cinematographer          P006
6                writer          P007
7   production_designer          P008
8                editor          P009
9                  self          P010
10      archive_footage          P011
11        archive_sound          P012

In [44]:
Name_df = Names[['imdb_name_id','name']]
Name_df.to_csv("Main Data/Names.csv",index=False)

In [45]:
Movies_df = Movies[['imdb_title_id','title','date_published','genre','director','writer','actors','votes']]
Movies_df.to_csv("Main Data/Movies.csv",index=False)

In [46]:
Title_df = Title_Principals[['imdb_title_id','imdb_name_id','category']]
Title_df.to_csv("Main Data/Title.csv",index=False)

In [50]:
Ratings_df = Ratings[['total_votes','weighted_average_vote','imdb_title_id','allgenders_18age_avg_vote','allgenders_30age_avg_vote','allgenders_45age_avg_vote','males_allages_avg_vote','females_allages_avg_vote','us_voters_votes'
,'non_us_voters_votes']]

In [53]:
Ratings_df.to_csv("Main Data/Ratings.csv",index=False)

In [98]:
Movies_df
explode(df.assign(genre=Movies_df.genre.str.split(',')), 'genre')

NameError: name 'explode' is not defined

In [99]:
def explode(df, lst_cols, fill_value='', preserve_index=False):
    # make sure `lst_cols` is list-alike
    if (lst_cols is not None
        and len(lst_cols) > 0
        and not isinstance(lst_cols, (list, tuple, np.ndarray, pd.Series))):
        lst_cols = [lst_cols]
    # all columns except `lst_cols`
    idx_cols = df.columns.difference(lst_cols)
    # calculate lengths of lists
    lens = df[lst_cols[0]].str.len()
    # preserve original index values    
    idx = np.repeat(df.index.values, lens)
    # create "exploded" DF
    res = (pd.DataFrame({
                col:np.repeat(df[col].values, lens)
                for col in idx_cols},
                index=idx)
             .assign(**{col:np.concatenate(df.loc[lens>0, col].values)
                            for col in lst_cols}))
    # append those rows that have empty lists
    if (lens == 0).any():
        # at least one list in cells is empty
        res = (res.append(df.loc[lens==0, idx_cols], sort=False)
                  .fillna(fill_value))
    # revert the original index order
    res = res.sort_index()
    # reset index if requested
    if not preserve_index:     
        res = res.reset_index(drop=True)
    return res

In [109]:
lst_col = 'genre'

In [110]:

x = Movies_df.assign(**{lst_col:Movies_df[lst_col].str.split(',')})

In [111]:

#https://stackoverflow.com/questions/12680754/split-explode-pandas-dataframe-string-entry-to-separate-rows
pd.DataFrame({                         
col:np.repeat(x[col].values, x[lst_col].str.len())
for col in x.columns.difference([lst_col])
}).assign(**{lst_col:np.concatenate(x[lst_col].values)})[x.columns.tolist()]

,imdb_title_id,title,date_published,genre,director,writer,actors,votes
0,tt0000574,The Story of the Kelly Gang,1906-12-26,Biography,Charles Tait,Charles Tait,"Elizabeth Tait, John Tait, Norman Campbell, Be...",537
1,tt0000574,The Story of the Kelly Gang,1906-12-26,Crime,Charles Tait,Charles Tait,"Elizabeth Tait, John Tait, Norman Campbell, Be...",537
2,tt0000574,The Story of the Kelly Gang,1906-12-26,Drama,Charles Tait,Charles Tait,"Elizabeth Tait, John Tait, Norman Campbell, Be...",537
3,tt0001892,Den sorte drøm,1911-08-19,Drama,Urban Gad,"Urban Gad, Gebhard Schätzler-Perasini","Asta Nielsen, Valdemar Psilander, Gunnar Helse...",171
4,tt0002101,Cleopatra,1912-11-13,Drama,Charles L. Gaskill,Victorien Sardou,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",420
...,...,...,...,...,...,...,...,...
166216,tt9905412,Ottam,2019-03-08,Drama,Zam,Rajesh k Narayan,"Nandu Anand, Roshan Ullas, Manikandan R. Achar...",510
166217,tt9905462,Pengalila,2019-03-08,Drama,T.V. Chandran,T.V. Chandran,"Lal, Akshara Kishor, Iniya, Narain, Renji Pani...",604
166218,tt9911774,Padmavyuhathile Abhimanyu,2019-03-08,Drama,Vineesh Aaradya,"Vineesh Aaradya, Vineesh Aaradya","Anoop Chandran, Indrans, Sona Nair, Simon Brit...",369
166219,tt9914286,Sokagin Çocuklari,2019-03-15,Drama,Ahmet Faik Akinci,"Ahmet Faik Akinci, Kasim Uçkan","Ahmet Faik Akinci, Belma Mamati, Metin Keçeci,...",190
166220,tt9914286,Sokagin Çocuklari,2019-03-15,Family,Ahmet Faik Akinci,"Ahmet Faik Akinci, Kasim Uçkan","Ahmet Faik Akinci, Belma Mamati, Metin Keçeci,...",190

In [97]:
Ratings_df.head()

,total_votes,weighted_average_vote,imdb_title_id,allgenders_18age_avg_vote,allgenders_30age_avg_vote,allgenders_45age_avg_vote,males_allages_avg_vote,females_allages_avg_vote,us_voters_votes,non_us_voters_votes
0,537,6.1,tt0000574,6.2,5.9,6.4,6.1,6.1,89.0,309.0
1,171,5.9,tt0001892,5.7,6.0,6.3,6.0,5.7,27.0,114.0
2,420,5.2,tt0002101,4.6,5.1,5.3,5.0,5.8,197.0,103.0
3,2019,7.0,tt0002130,7.0,7.0,7.1,7.0,7.2,452.0,1076.0
4,438,5.7,tt0002199,5.7,5.6,5.9,5.8,5.4,161.0,164.0

In [ ]:
Ratings_df[total_votes]

In [90]:
New = Movies_df.head(10)
New_Actor=[]
for index,row in New.iterrows():
    New_Actors = row['actors'].split(',')
    New_Actor.append(New_Actors)
#     print(New_Actors)

In [93]:
New['Actor'] = New_Actor

C:\Users\sunandan\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [94]:
New.head()

,imdb_title_id,title,date_published,genre,director,writer,actors,votes,Actor
0,tt0000574,The Story of the Kelly Gang,1906-12-26,"Biography, Crime, Drama",Charles Tait,Charles Tait,"Elizabeth Tait, John Tait, Norman Campbell, Be...",537,"[Elizabeth Tait, John Tait, Norman Campbell,..."
1,tt0001892,Den sorte drøm,1911-08-19,Drama,Urban Gad,"Urban Gad, Gebhard Schätzler-Perasini","Asta Nielsen, Valdemar Psilander, Gunnar Helse...",171,"[Asta Nielsen, Valdemar Psilander, Gunnar He..."
2,tt0002101,Cleopatra,1912-11-13,"Drama, History",Charles L. Gaskill,Victorien Sardou,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",420,"[Helen Gardner, Pearl Sindelar, Miss Fieldin..."
3,tt0002130,L'Inferno,1911-03-06,"Adventure, Drama, Fantasy","Francesco Bertolini, Adolfo Padovan",Dante Alighieri,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",2019,"[Salvatore Papa, Arturo Pirovano, Giuseppe d..."
4,tt0002199,"From the Manger to the Cross; or, Jesus of Naz...",1913,"Biography, Drama",Sidney Olcott,Gene Gauntier,"R. Henderson Bland, Percy Dyer, Gene Gauntier,...",438,"[R. Henderson Bland, Percy Dyer, Gene Gaunti..."

['Elizabeth Tait',
 ' John Tait',
 ' Norman Campbell',
 ' Bella Cola',
 ' Will Coyne',
 ' Sam Crewes',
 ' Jack Ennis',
 ' John Forde',
 ' Vera Linden',
 ' Mr. Marshall',
 ' Mr. McKenzie',
 ' Frank Mills',
 ' Ollie Wilson']

In [96]:
New['Actor'][0][0]

'Elizabeth Tait'

In [ ]:
for each in actorslist:
    
    #create a new key, row[actor_count]=each
    #count = count + 1