In [1]:
import pandas as pd

In [10]:
Movies = pd.read_csv("Resources/IMDb movies.csv")
Names = pd.read_csv("Resources/IMDb names.csv")
Ratings = pd.read_csv("Resources/IMDb ratings.csv")
Title_Principals = pd.read_csv("Resources/IMDb title_principals.csv")

In [11]:
Title_Principals['category'].value_counts()

actor                  100495
actress                 60074
writer                  55867
producer                45719
director                40106
composer                30350
cinematographer         25026
editor                  15290
production_designer      4300
self                      433
archive_footage           185
archive_sound               3
Name: category, dtype: int64

In [54]:
Actors =  list(Title_Principals['category'].unique())
dict={"Profession":Actors,
     "Profession_id":["P001","P002","P003","P004","P005","P006","P007","P008","P009","P010","P011","P012"]}
Profession_df = pd.DataFrame(dict)
Profession_df.to_csv("Main Data/Profession.csv",index=False)
Profession_df

             Profession Profession_id
0               actress          P001
1                 actor          P002
2              director          P003
3              producer          P004
4              composer          P005
5       cinematographer          P006
6                writer          P007
7   production_designer          P008
8                editor          P009
9                  self          P010
10      archive_footage          P011
11        archive_sound          P012

In [44]:
Name_df = Names[['imdb_name_id','name']]
Name_df.to_csv("Main Data/Names.csv",index=False)

In [45]:
Movies_df = Movies[['imdb_title_id','title','date_published','genre','director','writer','actors','votes']]
Movies_df.to_csv("Main Data/Movies.csv",index=False)

In [46]:
Title_df = Title_Principals[['imdb_title_id','imdb_name_id','category']]
Title_df.to_csv("Main Data/Title.csv",index=False)

In [50]:
Ratings_df = Ratings[['total_votes','weighted_average_vote','imdb_title_id','allgenders_18age_avg_vote','allgenders_30age_avg_vote','allgenders_45age_avg_vote','males_allages_avg_vote','females_allages_avg_vote','us_voters_votes'
,'non_us_voters_votes']]

In [53]:
Ratings_df.to_csv("Main Data/Ratings.csv",index=False)